.page {
  height: calc(100vh - 67px);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner__container {
  /* width: 100%; */
  margin: 50px auto;
  align-items: center;
  border: 7px solid #f3f3f3; /* Light grey */
  border-top: 7px solid #000000; /* Blue */
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spin 1.2s linear infinite;
  position: relative;
}

.spinner__container img {
  position: absolute;
  width: 60px;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader__text {
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 0;
}

@media screen and (max-width: 767.9px) {
  .spinner__container {
    width: 70px;
    height: 70px;
  }

  .spinner__container img {
    width: 40px;
  }
}
